html,
body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: #432000;
  text-align:center;
  padding: 0;
  margin: 0;
  user-select: none;
  background: #eef1f3;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  padding: 40px 20px;
  margin: 2rem auto;
}

#cat-in-cart {
  width: 170px;
  margin: 0 auto;
}

#input-field {
  font-family: 'Rubik', sans-serif;
  color: #46270ad3;
  background: #dee4ec;
  font-size: 1.1rem;
  text-align: center;
  padding: 12px;
  border: none;
  border-radius: 7px;
  margin: .5rem 0;
}

#add-btn {
  font-family: 'Rubik', sans-serif;
  color: #eef1f3;
  background: #9c4c5e;
  font-size: 1.1rem;
  border: none;
  border-radius: 7px;
  padding: 12px;
  margin: 0;
}

#add-btn:hover {
  background: #432000;
  cursor:pointer
}

#shopping-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 1.1rem;
  text-align: center;
  list-style-type: none;
  padding: .7rem 0;
  margin: 0;
}

li {
  background: #FFFDF8;
  flex-grow: 1;
  padding: 10px 10px;
  border-radius: 12px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

li:hover {
  background: #fcedd1;
  transition-delay: 2ms;
  cursor: pointer;
}

.empty-list {
  font-size: .95rem;
  border-radius:unset;
  box-shadow: unset;
  background: unset;
  margin-top:.5rem;
}